[Desktop Entry]
Type=Application
Name=Screen brightness
Exec=bash -c "xbacklight -set 75"
OnlyShowIn=GNOME
StartupNotify=false
X-GNOME-Autostart-enabled=true
